[run]
branch = True

omit =
    */__init__.py
    backend/scripts/automation/1.py
    backend/scripts/automation/certificate_service/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
